<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>

    <settings role:require="ContentManagement or Standalone or ContentDelivery or XMCloud">
      <!-- ID of the Sitecore item containing the DAM Connector settings -->
      <setting name="Hdis.Dam.Items.ConnectorSettings" value="{47C8F243-CCAE-4916-83D7-F09A907B4E4E}" />

      <!-- Human Digital Integration Services API endpoints -->
      <setting name="Hdis.Dam.Api.Endpoints.Domain" value="https://api.humandigital.services" />
      <setting name="Hdis.Dam.Api.Endpoints.Configuration" value="/dam-bynder/api/Configuration" />
      <setting name="Hdis.Dam.Api.Endpoints.AssetTracker" value="/dam-bynder/api/AssetTracker" />
      <setting name="Hdis.Dam.Api.Endpoints.Logging" value="/dam-bynder/public/api/Logging" />

      <!-- Asset Selector script -->
      <setting name="Hdis.Dam.Api.Scripts.Domain" value="https://bynder.humandigital.services" />
      <setting name="Hdis.Dam.Api.Scripts.AssetSelector" value="/api/AssetSelector/AssetSelector-1.0.0.js" />

      <!-- Webdam CDN domain that should be configured in the CSP header. Only applicable when Webdam is used. -->
      <setting name="Hdis.Dam.WebDamCdn" value="https://*.webdamdb.com" />

      <!-- Overrides the remote logging setting from the configuration portal.
           Allows remote logging without valid API key.
           Default value is empty. -->
      <setting name="Hdis.Dam.RemoteLoggingEnabled" value="" />

      <!-- Enable asset migration tools (currently unsupported). -->
      <setting name="Hdis.Dam.Bynder.EnableMigrationTools" value="false" />

      <!-- Default derivative used when none was specified in the asset field or in the field renderer. -->
      <setting name="Hdis.Dam.Rendering.DefaultDerivative" value="webimage" />

      <setting name="Hdis.Dam.Sitecore.EventQueueDatabase" value="web" />
    </settings>

    <fieldTypes>
      <fieldType name="hdisimagesingleasset" type="Sitecore.Data.Fields.ImageField, Sitecore.Kernel" />
      <fieldType name="hdisimagemultiasset" type="Sitecore.Data.Fields.ImageField, Sitecore.Kernel" />
      <fieldType name="hdisimagesinglefile" type="Sitecore.Data.Fields.ImageField, Sitecore.Kernel" />
      <fieldType name="hdisgenerallink" type="Sitecore.Data.Fields.LinkField, Sitecore.Kernel" />
      <fieldType name="hdisgenerallinksearch" type="Sitecore.Data.Fields.LinkField, Sitecore.Kernel" />
      <fieldType name="hdisfile" type="Sitecore.Data.Fields.FileField, Sitecore.Kernel" />
    </fieldTypes>

    <scheduling>
      <agent type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Tasks.AssetTrackerAgent, Hdis.Connectors.Dam.Bynder.SitecoreXp" method="Run" interval="00:01:00" />
    </scheduling>

    <controlSources role:require="ContentManagement or Standalone or XMCloud">
      <source mode="on" namespace="Hdis.Connectors.Dam.Bynder.SitecoreXp.Fields" assembly="Hdis.Connectors.Dam.Bynder.SitecoreXp"
              prefix="hdis" />
    </controlSources>

    <clientscripts role:require="ContentManagement or Standalone or XMCloud">
      <htmleditor>
        <script name="InsertHdisDamMedia" src="/sitecore/shell/Controls/Rich Text Editor/Hdis/InsertDamMedia.js.aspx" language="javascript" key="rte.custom" />
        <script name="InsertHdisDamLink" src="/sitecore/shell/Controls/Rich Text Editor/Hdis/InsertDamLink.js.aspx" language="javascript" key="rte.custom" />
      </htmleditor>
    </clientscripts>

    <clientscripts role:require="XMCloud">
      <htmleditor>
        <htmleditor>
          <script name="RteClosingScript" src="/sitecore/shell/Controls/Rich Text Editor/Hdis/RteClosingScript.js" language="javascript" key="rte.custom" />
        </htmleditor>
      </htmleditor>
    </clientscripts>

    <pipelines role:require="ContentManagement or Standalone or XMCloud">
      <getContentEditorWarnings>
        <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetContentEditorWarnings.CspHeaderWarning, Hdis.Connectors.Dam.Bynder.SitecoreXp" reusable="false" />
        <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetContentEditorWarnings.ConfigurationWarning, Hdis.Connectors.Dam.Bynder.SitecoreXp" reusable="false" />
        <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetContentEditorWarnings.IntegrationServiceInfo, Hdis.Connectors.Dam.Bynder.SitecoreXp" reusable="false" />
      </getContentEditorWarnings>
      <getContentEditorFields>
        <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetFields, Sitecore.Client"
                   set:type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetContentEditorFields.HideSystemFields, Hdis.Connectors.Dam.Bynder.SitecoreXp">
          <HiddenFields>{2E3EE356-44D6-4BA8-8287-8B00E14FF792}|{DAE3797A-3A7F-46D3-8A71-E79DF6A4E9A5}</HiddenFields>
        </processor>
      </getContentEditorFields>
    </pipelines>

    <pipelines role:require="XMCloud">
      <mvc.requestEnd>
        <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.RequestEnd.RequestEndAssetSelectorProcessor, Hdis.Connectors.Dam.Bynder.SitecoreXp"
		       patch:after="processor[@type='Sitecore.Horizon.Integration.Pipelines.MvcRequestEnd.RenderHorizonPageExtenders, Sitecore.Horizon.Integration']" resolve="true"/>
      </mvc.requestEnd>
    </pipelines>

    <pipelines role:require="ContentManagement or Standalone or ContentDelivery or XMCloud">
      <initialize>
        <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.Initialize.LoadConfiguration, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      </initialize>
      <renderField>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                   type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.RenderField.RenderAssetSelectorImageField, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                   type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.RenderField.RenderAssetSelectorVideoField, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
        <processor patch:after="processor[@type='Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.RenderField.RenderAssetSelectorImageField, Hdis.Connectors.Dam.Bynder.SitecoreXp']"
                   type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.RenderField.RenderAssetSelectorGeneralLinkField, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      </renderField>
      <group groupName="layoutService">
        <pipelines>
          <getFieldSerializer>
            <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Hdis.Connectors.Dam.Bynder.SitecoreXp" resolve="true"
                       patch:after="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">HdisImageSingleAsset</fieldType>
                <fieldType id="2">HdisImageSingleFile</fieldType>
              </FieldTypes>
            </processor>
            <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetFieldSerializer.GetMultiImageFieldSerializer, Hdis.Connectors.Dam.Bynder.SitecoreXp" resolve="true"
                       patch:after="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">HdisImageMultiAsset</fieldType>
              </FieldTypes>
            </processor>
            <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetFieldSerializer.GetVideoFieldSerializer, Hdis.Connectors.Dam.Bynder.SitecoreXp" resolve="true"
                       patch:after="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">HdisVideoSingleFile</fieldType>
              </FieldTypes>
            </processor>
            <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Hdis.Connectors.Dam.Bynder.SitecoreXp" resolve="true"
                       patch:after="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Sitecore.LayoutService' or @type='Sitecore.XA.Feature.LayoutServices.Integration.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Sitecore.XA.Feature.LayoutServices.Integration']">
              <FieldTypes hint="list">
                <fieldType id="1">HdisGeneralLink</fieldType>
                <fieldType id="2">HdisGeneralLinkSearch</fieldType>
              </FieldTypes>
            </processor>
            <processor type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Pipelines.GetFieldSerializer.GetFileFieldSerializer, Hdis.Connectors.Dam.Bynder.SitecoreXp" resolve="true"
                       patch:after="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetFileFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">HdisFile</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
    </pipelines>
    
    <events role:require="ContentManagement or Standalone or XMCloud">
      <event name="item:saved">
        <handler type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Events.ItemEventHandler, Hdis.Connectors.Dam.Bynder.SitecoreXp" method="OnItemSaved" />
      </event>
      <event name="item:copied">
        <handler type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Events.ItemEventHandler, Hdis.Connectors.Dam.Bynder.SitecoreXp" method="OnItemCopied" />
      </event>
      <event name="item:deleting">
        <handler type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Events.ItemEventHandler, Hdis.Connectors.Dam.Bynder.SitecoreXp" method="OnItemDeleting" />
      </event>
      <event name="item:versionRemoved">
        <handler type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Events.ItemEventHandler, Hdis.Connectors.Dam.Bynder.SitecoreXp" method="OnItemVersionDeleted" />
      </event>
    </events>

    <commands role:require="ContentManagement or Standalone or XMCloud">
      <command patch:after="command[@name='webedit:editlink']"
               name="webedit:hdis:selectlink" type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.SelectDamLink, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      <command patch:after="command[@name='webedit:editlink']"
               name="webedit:hdis:selectimage:singleasset" type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.SelectDamImageSingleAsset, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      <command patch:after="command[@name='webedit:editlink']"
               name="webedit:hdis:selectimage:multiasset" type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.SelectDamImageMultiAsset, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      <command patch:after="command[@name='webedit:editlink']"
               name="webedit:hdis:selectimage:singlefile" type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.SelectDamImageSingleFile, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      <command patch:after="command[@name='webedit:editlink']"
               name="webedit:hdis:selectvideo:singlefile" type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.SelectDamVideo, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      <command name="webedit:editlink" set:type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.EditLink, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
      <command name="item:hdis:updatereferences" set:type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Commands.StartReferenceUpdater, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
    </commands>

    <hooks role:require="ContentDelivery">
      <hook type="Hdis.Connectors.Dam.Bynder.SitecoreXp.Hooks.ClearConfigurationCache, Hdis.Connectors.Dam.Bynder.SitecoreXp" />
    </hooks>
    
  </sitecore>
</configuration>
