.navDropdownTrigger {
    font-size: var(--chartwell-nav-font-size);
    border-radius: 0;
    overflow: hidden;
}

    .navDropdownTrigger[data-headlessui-state="open"] {
        color: var(--chartwell-primary-color);
    }

    .navDropdownTrigger:before {
        width: 0;
        height: 0;
        background-color: var(--chartwell-primary-color);
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all linear .15s;
        display: block;
        content: "";
    }

    .navDropdownTrigger:after {
        width: 0;
        border-bottom-color: transparent;
        transition: width linear .15s;
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        height: 0;
        background-color: transparent;
        border-bottom: 2px solid var(--chartwell-primary-color);
    }

    .navDropdownTrigger[data-headlessui-state="open"]:after {
        width: calc(100% - 1.25rem);
    }

    .navDropdownTrigger[data-headlessui-state="open"]:hover:before {
        width: calc(100% - 1.25rem);
        height: 110%;
        background-color: var(--chartwell-primary-color);
        opacity: 0.05;
    }
