html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  height: auto !important;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1em;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3.75em;
  font-weight: 300;
  line-height: 1.3;
  color: rgb(140,19,96);
}

h2 {
  font-size: 3.125em;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(140,19,96);
}

h3 {
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1.3;
  color: rgb(140,19,96);
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

ul li {
  list-style-type: none;
}

.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

//Navigation Bar fix
#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

//End navigation bar fix
.menu-mobile-navigate {
  display: none;
}

#header, #content, #footer, .sc-jss-empty-placeholder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sc-jss-placeholder-error {
  background: #ff0000;
  outline: 5px solid #e36565;
  padding: 10px;
  color:#fff;
  max-width: 500px;
}

.mapboxgl-popup-close-button {
  right: 4px !important;
  font-size: 1rem !important;
}

.no-js {
  img, .opacity-0.ease-in-out:not(#MobileNav.mobileWindow) {
    opacity: 1 !important;
  }
 
  #cookieConsentBanner {
    position: relative !important;
    .closeBtn {
      display: none !important;
    }
  }
}