@tailwind components;

@layer components {
  /* TITLE STYLES */

  .ChartwellTitleH1Option1 {
    color: var(--cw-heading-color-plum);
    line-height: var(--cw-heading-line-height);
    font-size: var(--cw-h1-size);
    font-weight: var(--cw-h1-weight);
  }

  .ChartwellTitleH1Option2 {
    color: rgb(255, 255, 255);
    line-height: var(--cw-heading-line-height);
    font-size: var(--cw-h1-size);
    font-weight: var(--cw-h1-weight);
  }

  .ChartwellTitleH2 {
    color: var(--cw-heading-color-plum);
    line-height: var(--cw-heading-line-height);
    font-size: var(--cw-h2-size);
    font-weight: var(--cw-h2-weight);
  }

  .ChartwellTitleH3 {
    color: var(--cw-heading-color-plum);
    line-height: var(--cw-heading-line-height);
    font-size: var(--cw-h3-size);
    font-weight: var(--cw-h3-weight);
  }

  .ChartwellTitleCardH3 {
    color: var(--cw-heading-color-plum);
    line-height: var(--cw-heading-line-height);
    font-size: var(--cw-h4-size);
    font-weight: var(--cw-h4-weight);
  }

  /* TEXT STYLES */

  .ChartwellText {
    @apply text-ChartwellGrey font-normal leading-[1.65] text-[1rem];
  }

  .ChartwellFooterText {
    @apply text-ChartwellWhite font-normal leading-[1.5] text-[0.75rem];
  }

  .ChartwellStrongText {
    @apply text-ChartwellGrey font-semibold leading-[1.5] text-[1rem];
  }

  .ChartwellStrongReversedText {
    @apply text-white font-semibold leading-[1.5] text-[1rem];
  }
}
