<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!--
          We replace the existing RequireAuthentication processor (to preserve all its attributes)
          and add our IgnoreRules list underneath.
        -->
        <processor
          patch:after="*[@type='Sitecore.Pipelines.HttpRequest.RequireAuthentication, Sitecore.Kernel']"
          type="Sitecore.Pipelines.HttpRequest.RequireAuthentication, Sitecore.Kernel"
          resolve="true">
          <IgnoreRules hint="list:AddIgnoreRule">
            <!-- skip all SPE paths under /sitecore modules/PowerShell -->
            <prefix hint="spe">^/sitecore\smodules/PowerShell.*</prefix>
          </IgnoreRules>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
