:root {
  --chartwell-primary-color: rgb(140, 19, 96);
  --chartwell-primary-color-25: rgba(140, 19, 96, 0.25);  
  --chartwell-primary-color-50: rgba(140, 19, 96, 0.85);
  --chartwell-primary-color-85: rgba(140, 19, 96, 0.85);
  --chartwell-primary-color-95: rgba(140, 19, 96, 0.95);
  --chartwell-primary-color-70: rgba(140, 19, 96, 0.5);
  --chartwell-white-color-80: rgba(255, 255, 255, 0.8);
  --chartwell-secondary-color: rgb(0, 91, 150);
  --chartwell-secondary-color-50: rgb(0, 91, 150, 0.8);
  --chartwell-secondary-color-25: rgb(0, 91, 150, 0.25);
  --chartwell-yellow: rgb(235, 182,0);
  --chartwell-medium-gray: #999;
  --chartwell-dark-gray: #131313;
  --chartwell-body-fonts: "Kumbh Sans", -apple-system, Helvetica Neue, sans-serif;
  --chartwell-cursive-fonts: "Birthstone", cursive, serif;
  --chartwell-base-font-size: 1.0625rem;
  --chartwell-lightest-gray: #f8f8f8;
  --chartwell-topmost-z-index: 99999;
  --chartwell-heading-fonts: Lobster;
  --chartwell-nav-font-size: 14px;
}
